/*           Landing/style.css (for crimedata)          */


a {
    color: aliceblue;
}


h1 {
    color: white;   
}

a hover {
    color: cornflowerblue;
    text-decoration: none;    
}

.navbar {
    display: fixed;
    height: 80px;
    background-color: black;
}

.navbar-text {
    list-style: none;
    font-size: 24px;
    margin: 20px;
    letter-spacing: 1px;    
}

.navbar-header {
    position: absolute;
    
}

nav img {
    height: 95px;
    position:absolute;
}

#jumbotron-container {
    position: relative;
    margin-top: 15px;
}

#title {
    height: 125px;
    margin-bottom: 10px;
    background-color: black;
}

#area-two {
    height: 400px;
    margin-bottom: 10px;
    background-color: black;
    
}

.area-three {
    height: 125px;
    margin-bottom: 30px;
    background-color: black;
    
}
